.header
  .user_name
    suna
  .newg_roup
    =link_to "#", class: "header__btn" do
      = icon('fab', 'cog', class: "header__btn--icon")
  .settings
    =link_to "#", class: "header__btn" do
      =icon('fab', 'cog', class: "header__btn--icon")
.contents
  .group_name
    sample
  .latest_message
    Hello world!