.header
  .header__name
    suna
  .header__icon
    =link_to "#", class: "header__icon header__icon--edit" do
      = icon('fas', 'edit', class: "header__icon")
      %span<>
    =link_to "#", class: "header__icon header__icon--setting" do
      =icon('fas', 'cog', class: "header__icon")
.contents
  .contents__content
    .contents__content__name
      sample
    .contents__content__message
      Hello world!