$blackColor: #434A54;
$grayColor: #999999;
.main_chat {
  &__header {
    width: 1150px;
    height: 100px;
    position: right;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    &__contents {
      padding-left: 40px;
      &__group_name {
        padding-top: 35px;
        font-size: 20px;
        font-color: #333333;
      }
      &__member {
        padding-top: 15px;
        font-size: 12px;
        font-color: $grayColor;
      }
    }
    &__btn {
      line-height: 100px;
      margin-right: 40px;
      height: 100px;
      &--edit {
        padding: 10px 20px;
        border: solid 1px;
      }
    }
  }
  &__contents {
    background-color: #fafafa;
    height: 100%;
    &__content {
      margin-left: 40px;
      padding-top: 46px;
      &__user {
        display: flex;
        &__name {
          font-size: 16px;
          font-weight: bold;
          color: $blackColor;
          margin-right: 10px;
        }
        &__time {
          color: $grayColor;
          font-size: 12px;
        }
      }
      &__text {
        padding-top: 10px;
        font-size: 14px;
        color: $blackColor;
      }
    }
  }
}